<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
</head>
<body>
    <!-- Menu -->
    <nav>
        <a href="/">Home</a> | 
        <a href="/about">About Us</a> | 
        <a href="/tips?lang={{ lang }}">Tips</a> | 
        <a href="/?lang=vi">VI</a> | 
        <a href="/?lang=en">EN</a> | 
        <a href="/?lang=kr">KR</a>
    </nav>

    <h1>Tips</h1>
    <ul>
        {% for t in tips %}
        <li>{{ t }}</li>
        {% endfor %}
    </ul>
</body>
</html>
